<header class="sticky top-0 z-50 flex justify-between items-center p-1 bg-gray-900 text-white shadow">
  <span class="text-xl font-semibold"></span>
  <img
    src="assets/zwitscher_logo_transparent.png"
    alt="Zwitscher Logo"
    class="h-20 w-20"
  >
</header>

<div class="min-h-screen flex items-center justify-center bg-gray-100">
  <h1 class="text-3xl md:text-5xl font-bold text-blue-600 text-center">
    🐦 Hier entsteht eine tolle <span class="text-orange-600">Zwitscher</span> Chat-App
  </h1>
</div>

<router-outlet></router-outlet>
